.App {
  font-family: sans-serif;
  text-align: center;
}

.black-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  height:50px
}

.black-button:hover {
  background-color: #333;
}
.black-button:disabled {
  background-color: lightgray;
}

.secondary-button{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: cyan;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  font-size: 12px;
  width: 50%;
  height:50px
}
.secondary-button:focus {
  background-color: cyan;
  color: black;
}

.record-button, .clear-button {
  margin: 10px;
  width: 25%;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  /*z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.244); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 400px; /* Could be more or less, depending on screen size */
  height: 550px;
}

/* The Close Button */
.close {
  color: #aaa;
  /* float: right; <-- worried this is making my buttons fly off the page */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
